
@font-face {
    font-family: 'majalla';
    src: url('../fonts/majalla.ttf') format('truetype')
}

.wrapper {
    text-align: right;
    direction: rtl;
}


body {
    font-family: 'majalla',Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.border {
    border-radius: 10px;
    border: #0c698a solid 2px;
    padding: 2px;
    box-sizing: border-box;
}

.wrapper {
    text-align: right;
    direction: rtl;
    display: flex;
    flex-direction: column;
}

.header {
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    width: 100%
}

.part {
    display: inline-block;
    width: 33%;
    float: right
}

.text-center {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center
}

.deff {
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

p, h3, h4 {
    margin: .5rem;
}

.content {
    display: block;
    width: 100%;
}

footer {
    width: 100%;
    display: flex;
}
/* styling */
.w-100 {
    width: 100%;
}

th, td {
    padding: .7rem;
}

table {
    border-color: #0c698a;
    border-spacing: 4px
}

.colored-block {
    background-color: #e7eaec;
    border-radius: 7px;
    border: 2px solid #0c698a;
    padding: .5rem;
    font-weight: 500;
    display: inline-block;
}

.colored-main-title {
    color: #0c698a;
    font-size: 26px;
    font-weight: 700;
}

.colored-th {
    background-color: #0c698a;
    color: #fff;
    font-weight: 700;
}

.colored-td {
    background-color: #0c698a;
    color: #fff;
    font-weight: 700;
}

td {
    background-color: #e7eaec;
}

.colored-label {
    background-color: #0c698a;
    border-radius: 17px 17px 0 0;
    color: #fff;
    font-weight: 500;
    padding: .7rem;
    display: inline-block;
}

.colored-details {
    background-color: #e7eaec;
    display: inline-block;
    padding: .7rem;
    border-radius: 7px;
}

.colored-green {
    color: #0c698a;
}
