
@font-face {
    font-family: 'majalla';
    src: url('../fonts/majalla.ttf') format('truetype')
}

.wrapper {
    text-align: right;
    direction: rtl;
}


body {
    font-family: 'majalla',Verdana, Geneva, Tahoma, sans-serif;

}

