
@model CreateClientDTO


@{
    ViewData["Title"] = "إضافة عميل";

}


<div class="row">

    <div class="form-two-col">
        <div class="form-col custom-form-btn-container">
            <a asp-area="" asp-action="Index" asp-controller="Client"  class="custom-form-btn custom-form-input btn btn-primary m-0" type="button">قائمة العملاء لدى</a>
        </div>
    </div>
</div>
   

<div class="container" >

    <form class="custom-form" asp-area="" asp-action="Create" asp-controller="Client" method="post">
        <input asp-for="ClientId" type="hidden" />

    <div class="form-two-col">
        <div class="form-col">
            <label asp-for="ClientName">اسم العميل</label>
            <input class="custom-form-input" type="text" placeholder="ادخل الاسم" id="clientName" asp-for="ClientName" aria-describedby="clientName">
            <span asp-validation-for="ClientName" class="text-danger"></span>
        </div>
       <div class="form-col">
                <label class="form-label" asp-for="PhoneNumber">رقم الهاتف</label>
                <input class="custom-form-input" type="number" id="phonenumber" asp-for="PhoneNumber" aria-describedby="phoneNumber" placeholder="رقم الهاتف">
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="form-two-col">
          <div class="form-col">
            <label class="form-label" asp-for="Address">عنوان بالتفصيل</label>
            <input class="custom-form-input" type="text" id="Address" asp-for="Address" aria-describedby="Address" placeholder="عنوان بالتفصيل">
            <span asp-validation-for="Address" class="text-danger"></span>
          </div>
            <div class="form-col">
                <label class="form-label" asp-for="CustomerNeeded">احتياج العميل </label>
                <input class="custom-form-input" type="text" id="CustomerNeeded" asp-for="CustomerNeeded" aria-describedby="CustomerNeeded" placeholder="احتياج العميل ">
                <span asp-validation-for="CustomerNeeded" class="text-danger"></span>
            </div>

    </div>

    <div class="form-two-col">
         <div class="form-col">
            <label asp-for="DepartmentId">أختار القسم</label>
                <select id="selectDepartment" class="custom-form-input custom-select" asp-for="DepartmentId" asp-items="ViewBag.departments">
                    <option value="-1" selected disabled>اختار القسم المناسب</option>
            </select>
        </div>

        <div class="form-col">
            <label asp-for="BaseUserId">أختار الموظف</label>
                <select id="selectUsers" class="custom-form-input custom-select" asp-for="BaseUserId" >
                    <option value="-1" selected disabled>اختار الموظف</option>
            </select>
        </div>
    </div>

    <div class="form-two-col">
       
        <div class="form-col custom-form-btn-container">
            <button class="custom-form-btn custom-form-input btn btn-primary m-0" type="submit">أدخل</button>
        </div>
    </div>
</form>
</div>


@section Scripts{

    <script>
        $(document).ready(function () {
            $(document).on("change", "#selectDepartment", function () {
                var subCat = this;
                $.ajax({
                    url: "GetUsersByDepartmentId?departmentId=" + $(subCat).val(),
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    datatype: JSON,
                    success: function (result) {
                        debugger;
                        var users = '<option selected disabled value="0">اختار الموظف</option>';
                        $(result).each(function () {
                            users = users + '<option value="' + this.id + '">' + this.value + '</option>'
                        });
                        var subCateList = $("#selectUsers");
                        subCateList.empty();
                        subCateList.append()
                        subCateList.append(users);
                    },
                    error: function (data) {
                        return "Error";
                    }
                });
            });
        });
</script>

}