/*
    font
*/

@font-face {
    font-family: 'ae-almohanad';
    src:url('../../fonts/ae-almohanad.ttf');
}

* {
    font-family: 'Noto Kufi Arabic', sans-serif;
}

body
{
    background-color:#fff !important;
    color:#000 !important;
}
.text-dark
{
color:#000 !important;
}
h1, h2, h3, h4, h5, h6, label, p
{
    color: #000;
}

.watermark {
    background: url("../img/dark.png") no-repeat center center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: .2;
    background-size: cover;
    z-index:-1;
}

.main-container {
    min-height: 75vh;
    display:flex;
    justify-content:center;
}

/* Login form */
.login-form {
    width: fit-content;
}

/* Navbar */

.sidenav {
    margin: 0 !important;
    border-radius: 0;
}

.navbar-vertical.navbar-expand-xs .navbar-collapse
{
    height: fit-content !important;
}

.navbar-vertical .navbar-nav > .nav-item .nav-link.active {
    border-right-width: 0;
    border-bottom-width: 0;
    background: linear-gradient(90deg, rgba(29,164,212,1) 0%, rgba(21,141,183,1) 100%) !important;
    box-shadow: none !important;
}

.bg-primary {
    /*background-image: linear-gradient(195deg, #1c9fcd 0%, #3e88a2 100%);*/
    background-image:none !important;
    background-color: #3e88a2 !important;
}

.fa-user {
    font-size: 18px;
    margin-left: 5px;
}

.custom-form {
    direction: rtl;
    display: flex;
    flex-direction: column;
}

.form-two-col {
    display: flex;
    width: max-content;
}

.form-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
}

.custom-form-input {
    font-size: 18px;
    padding: 8px 10px;
    border: 1px solid #aaa;
    border-radius: 10px;
    width:100%;
}

.custom-form-btn-container {
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.custom-form-btn {
    font-size: 18px;
    padding: 8px 10px;
    border: 1px solid #aaa;
    border-radius: 10px;
    width: 200px;
}

.custom-select
{
    padding: 11px !important;
}


.client-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.client-info-container {
  
   width:100%;
}

.client-info-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 5px;
    min-height: 80px;
    border-radius: 10px;
    font-size: 22px;
}

    .client-info-box .info-header {
        opacity: .9;
        font-weight:400;
    }
    .client-info-box .info {
        font-weight: 600;
    }

.client-notes-input {
    height: 50px;
    width: 100%;
    background: none;
    border: 1px solid #787878;
    border-radius: 10px;
    outline: none;
    color: #393939;
}

.card {
    border: 1px solid #dcdcdc !important;
}

.table
{
    border-radius:10px;
}

.table-add-btn {
    height: 35px;
    width: 35px;
    border: 1px solid #787878;
    color: #787878;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    padding: 0;
    margin: 0;
}

    .table-add-btn:hover {
        background-color: #787878;
        color:white;
        transition: 150ms ease-in-out;
    }


/*
    employess details
    */
.tabel-search-box {
    border: 1px solid #c2c0c0;
    border-radius: 10px;
    padding-right: 8px;
    height: 33px;
}

.table-search {
   /* font-size: 15px;
    padding: 5px 10px;*/
    height: 30px;
    background: none;
    border:none;
    outline:none;
}

/* pagination */
.active-pagination {
    color: white !important;
    background-color: var(--bs-link-color) !important;
    border:none;
}

.btn-absoulte-for-upload {
    position: relative
}
.hidden-file-input {
    position: absolute;
    top: 13px;
    z-index: 2;
    opacity: 0;
    right: 0px;
    width: 68px;
}

