/*
    icons
*/

/* Navbar */

.navbar-vertical .navbar-nav > .nav-item .nav-link.active {
    border-right-width: 0;
    border-bottom-width: 0;
    background: linear-gradient(90deg, rgba(29,164,212,1) 0%, rgba(21,141,183,1) 100%) !important;
    box-shadow:none !important;
}

.fa-user {
    font-size: 18px;
    margin-left: 5px;
}

.custom-form {
    direction: rtl;
    display: flex;
    flex-direction: column;
}

.form-two-col {
    display: flex;
    width: max-content;
}

.form-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
}

.custom-form-input {
    font-size: 18px;
    padding: 8px 10px;
    border: 1px solid #aaa;
    border-radius: 10px;
    width: 300px;
}

.form-col label {
    font-size: 28px;
    padding-right: 10px;
}

.custom-form-btn-container {
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.custom-form-btn {
    font-size: 18px;
    padding: 8px 10px;
    border: 1px solid #aaa;
    border-radius: 10px;
    width: 200px;
}

.custom-select
{
    padding: 11px !important;
}


.client-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.client-info-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.client-info-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    min-height: 80px;
    background-color: #d1d1d1;
    border-radius: 10px;
    font-size: 22px;
}



.client-notes-input {
    width: 100%;
    background: none;
    border: 1px solid #dad9d9;
    border-radius: 10px;
    outline: none;
}

.table
{
    border-radius:10px;
}

.table-add-btn {
    height: 40px;
    width: 40px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:0;
    margin:0;
}


/*
    employess details
    */
.tabel-search-box {
    border: 1px solid #c2c0c0;
    border-radius: 10px;
    padding-right: 8px;
    height: 33px;
}

.table-search {
   /* font-size: 15px;
    padding: 5px 10px;*/
    height: 30px;
    background: none;
    border:none;
    outline:none;
}


.btn-absoulte-for-upload{
    position:relative
}
.hidden-file-input {
    position: absolute;
    top: 13px;
    z-index: 2;
    opacity: 0;
    right: 0px;
    width: 68px;
}