@model ChangePassword



<div class="container" >

    <form class="row custom-form" asp-area="" asp-action="ChangePassword" asp-controller="Account" method="post">


        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-10">
            <div class="col-xs-12 col-sm-12 col-md-5 d-flex flex-column m-2">
                    <label class="fs-5" asp-for="OldPassword">الرقم السرى الحالى</label>
                    <input class="custom-form-input" type="password" placeholder="ادخل الرقم السرى الحالي" id="oldpass" 
                    asp-for="OldPassword" aria-describedby="oldpass">
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
        </div>

        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-10">
            <div class="col-xs-12 col-sm-12 col-md-5 d-flex flex-column m-2">
                    <label class="fs-5" asp-for="NewPassword">الرقم السري الجديد</label>
                <input class="custom-form-input" type="password" placeholder="ادخل الرقم السرى الجديد" id="newpass"
                       asp-for="NewPassword" aria-describedby="newpass">
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
        </div>

        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-10">
            <div class="col-xs-12 col-sm-12 col-md-5 d-flex flex-column m-2">
                <label class="fs-5" asp-for="ConfirmPassword">تأكيد الرقم السري</label>
                <input class="custom-form-input" type="password" placeholder="ادخل تأكيد الرقم السري" id="confirmpass"
                       asp-for="ConfirmPassword" aria-describedby="confirmpass">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>

        <div class="row col-xs-12 col-sm-12 col-md-4  d-flex form-col m-2 custom-form-btn-container">
            <button class="custom-form-btn custom-form-input btn btn-primary m-0" type="submit">غير الباسورد الحالي</button>
        </div>

        <div asp-validation-summary="All" class="col-12 text-danger"></div>

    </form>
</div>