
@model RegisterDTO

@{
    ViewData["Title"] = "تسجيل الدخول";
    var accountType = (AccountType)ViewData["accountType"];
}

<form asp-area="" asp-action="Register" asp-controller="Account">

</form>



